<!DOCTYPE html>
<html>
<head>
    <title>
        flask
    </title>
</head>
<body>
    <form method="POST" action="/boost">
        <h1> 나는 제품을 구매할까 ~ ? </h1>
        <h3> 나이, 연봉, 성별 </br></h3>
        <h5> 아래에 입력해주세요. </h5>
        <b> Age :  <input type="text", name='a'> <br><br>
            EstimatedSalary :  <input type="text", name='b'> <br><br>
            Female :  <input type="text", name='c'> <br><br>
            Male :  <input type="text", name='d'> <br><br>
        </b>
        <button type="submit">결과 확인하기</button>
    </form>
</body>
</html>

